* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}

[class^="box-"] {
    background-color: skyblue;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    gap: 25px;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(100,50px);
    grid-template-areas:
        "A A A    B B B"
        "C C D    D E E";
    }

.box-1 {
    grid-area: A; 
}

.box-2 {
    grid-area: B;
}

.box-3 {
    grid-area: C;
}

.box-4 {
    grid-area: D;
}

.box-5 {
    grid-area: E;
}

